.git
.gitignore
.env
.env.example
node_modules
vendor
storage-backups
storage-app
storage-db
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
public/build
*.md
.idea
.vscode
.DS_Store
