/.env
/.env.backup
/node_modules
/public/build
/storage-backups
/storage-app
/storage-db
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/vendor
/database/sqlite/*.sqlite
.phpunit.result.cache
.phpunit.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
